<!doctype html>
<html>

   <body>

   <center>

      <header> <h1> The count is {{msg}} </h1>
      </header>
      <br> <br>
      <table border = 1>
         <thead>
            <td>Cabin num</td>
            <td>Fname</td>
            <td>Lname</td>
            <td>Age</td>
            <td>Survived</td>
            <td>Lat</td>
            <td>Long</td>
            <td>Picture Cap</td>
            <td>Picture Pass</td>
            <td>Fare</td>
         </thead>

         {% for row in rows %}
         <tr>
            <td>{{row["CabinNum"]}}</td>
            <td>{{row["Fname"]}}</td>
            <td>{{row["Lname"]}}</td>
            <td>{{row["Age"]}}</td>
            <td>{{row["Survived"]}}</td>
            <td>{{row["Lat"]}}</td>
            <td>{{row["Long"]}}</td>
            <td>{{row["PictureCap"]}}</td>
            <td>{{row["PicturePas"]}}</td>
            <td>{{row["Fare"]}}</td>
         </tr>
         {% endfor %}
      </table>

      <br>
       <h2><a href="/dele">Delete</a></h2>
      <h2> <a href = "/">Home</a> </h2>
   </body>
</html>