<html>
  <head>
      <h1>Jayapragash Baskar</h1><br>
            <h1>4014</h1>
                <h2 style="color:blue;">I survived the Minnow</h2>
            <img src="./static/Minnow.jpg">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Fare', 'Survived', 'not survived'],
          ['100', {{var[0]}}, {{var[1]}}],
          ['200', {{var[2]}}, {{var[3]}}],
          ['500', {{var[4]}}, {{var[5]}}],
          ['800', {{var[6]}}, {{var[7]}}],
          ['2500', {{var[8]}}, {{var[9]}}]
        ]);

        var options = {
          chart: {
            title: 'Company Performance',
            subtitle: 'Sales, Expenses, and Profit: 2014-2017',
          },
          bars: 'horizontal' // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('barchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
  </head>
  <body>
    <div id="barchart_material" style="width: 900px; height: 500px;"></div>
  </body>
</html>